In [180]:
def evaluate_association_rules(association_rules,test_datas):
    """
    Parameters：
        association_rules：要评估的关联规则（推荐规则） list((rule_a,rule_b))
        test_datas：测试用的数据集 dataframe

    Returns：
        关联规则（推荐规则）在测试集上的平均准确率
    """
    point_sum = 0
    miss = 0
    for rule_a,rule_b in association_rules:
        set_rule_a = set(rule_a)
        set_rule_b = set(rule_b)
        
        num_a = 0
        num_b = 0
        
        for test_data in test_datas.value:
            set_test_data = set(test_data)
            if set_rule_a.issubset(set_test_data):
                num_a += 1
                if set_rule_b.issubset(set_test_data):
                    num_b += 1
        if num_a:
            point_sum += num_b / num_a
        else:
            miss += 1
    print(miss,' rules miss')
    return point_sum / len(association_rules)

### 函数测试

In [125]:
# 导入所需模块
import pandas as pd
import numpy as np
import json
import fp_growth_py3 as fpg
import matplotlib.pyplot as plt
import pylab as pl
from collections import defaultdict

In [218]:
# 读入测试数据集
filepath='./test_data/user_following_animation.json'
data=pd.read_json(filepath,lines=True)
user_info = pd.read_csv("test_data/bilibili_crawler_user_info.csv",names = ['id','mid','name','sex','sign','the_rank','level','jointime','moral','silence','birthday','coins','fans_badge','role','title','desc','vip_type','vip_status'])

len(user_info)

51432

In [219]:
user_info.drop(user_info[user_info.vip_type.isna() | user_info.the_rank.isna() | user_info.level.isna()].index.tolist(),inplace=True) # 将vip_type、the_rank、level有NaN的行去掉
len(user_info)

51424

In [220]:
# 设置权重字典
add_rules={'the_rank':{10000:1,20000:2,25000:3,30000:4},'level':{'3':1,'4':2,'5':3,'6':4},'vip_type':{0:0,1:1,2:2}}

In [221]:
# 去除一下异常数据
for index,row in data.iterrows():
    try:
        int(row.key)
    except:
        print(row)
        data.drop(index,inplace=True)

db                                                       7
key                                         finished_users
size                                                507576
ttl                                                     -1
type                                                   set
value    [330817737, 74775, 259640193, 24774761, 540994...
Name: 4504, dtype: object

In [201]:
def user_power(data,rules,user_info):
    """
    params:
        data:用户收藏ID数据集
        rules:权重规则
        user_info:用户信息数据集
    return:新数据集
        
    """
    new_data = pd.DataFrame(columns=data.columns)
    for index,row in data.iterrows():
        info = user_info[user_info.mid == int(row.key)]

        if len(info):
            the_power = rules['the_rank'][info.the_rank.values[0]] + rules['level'][info.level.values[0]] + rules['vip_type'][info.vip_type.values[0]]
        else:  # len(info)==0 说明在user_info中没有这个用户的相关数据
            the_power = 1
#         print(the_power)
        for i in range(the_power):
            new_data = new_data.append(row,ignore_index=True)
    
    return new_data

In [202]:
# 根据权重规则对数据进行扩充
new_data= user_power(data,add_rules,user_info)
len(new_data)

38829

将测试数据集 划分为training_data与evaluate_data两部分，占比可调

In [205]:
training_data = new_data.sample(n=None, frac=0.9, replace=False, weights=None, random_state=None, axis=None)

In [206]:
print(len(training_data))
training_data.head()

34946

,db,key,size,ttl,type,value
25630,7,231642237,24,-1,set,"[6339, 139352, 4316442, 5268038]"
15916,7,2969676,70,-1,set,"[240, 844, 1553, 1635, 1687, 2271, 2602, 2876,..."
16400,7,33633146,10,-1,set,"[3462, 102792]"
25899,7,867942,262,-1,set,"[177, 184, 191, 856, 1512, 1552, 1559, 2338, 2..."
3319,7,312907,83,-1,set,"[184, 5998, 6301, 6312, 6339, 6420, 6434, 6439..."

In [207]:
evaluate_data = new_data.drop([x for x in training_data.index])

In [208]:
print(len(evaluate_data))
evaluate_data.head()

3883

,db,key,size,ttl,type,value
11,7,37868878,1246,-1,set,"[53, 110, 249, 282, 333, 334, 419, 470, 471, 5..."
14,7,37868878,1246,-1,set,"[53, 110, 249, 282, 333, 334, 419, 470, 471, 5..."
71,7,7862266,484,-1,set,"[480, 688, 814, 981, 994, 1064, 1078, 1083, 10..."
79,7,38115290,409,-1,set,"[2580, 2760, 5786, 5849, 5856, 6360, 6434, 657..."
86,7,8784405,183,-1,set,"[425, 963, 1178, 1463, 1660, 3151, 3756, 4378,..."

用training_data进行训练，导出关联规则（推荐规则）

注：这里只是用置信度进行了排名，因为只是对评估函数进行测试，所以没有加入更多的排名方法。

In [209]:

data_list = list(training_data["value"])
frequent_itemsets = fpg.find_frequent_itemsets(data_list, minimum_support=0.07 * len(data_list), include_support=True)
print(type(frequent_itemsets))  # print type
result = []
for itemset, support in frequent_itemsets:  # 将generator结果存入list
    result.append((itemset, support / len(data_list)))

result_patterns = [i[0] for i in result]
result_support = [i[1] for i in result]
patterns_df = pd.DataFrame({"fluent_patterns": result_patterns, "support": result_support})
patterns = {}
for i in result:
    patterns[frozenset(sorted(i[0]))] = i[1]
print("-------------挖掘频繁项集---------------")
print(patterns_df)

def generate_rules(patterns, min_confidence):
    patterns_group = group_patterns_by_length(patterns)
    raw_rules = defaultdict(set)
    for length, pattern_list in patterns_group.items():
        if length == 1:
            continue
        for pattern, support in pattern_list:
            item_list = list(pattern)
            for window_size in range(1, length):
                for i in range(0, length - window_size):
                    for j in range(i + window_size, length):
                        base_set = frozenset(item_list[i:j])
                        predict_set = frozenset(pattern - base_set)
                        confidence = support / patterns.get(base_set)
                        if confidence > min_confidence:
                            raw_rules[base_set].add((predict_set, confidence))

                        base_set, predict_set = predict_set, base_set
                        confidence = support / patterns.get(base_set)
                        if confidence > min_confidence:
                            raw_rules[base_set].add((predict_set, confidence))
    return raw_rules

def group_patterns_by_length(patterns):
    result = defaultdict(list)
    for pattern, support in patterns.items():
        result[len(pattern)].append((pattern, support))
    return result

def transform(raw_rules):
    result = list()
    for base_set, predict_set_list in raw_rules.items():
        for predict_set, confidence in predict_set_list:
            result.append((base_set, predict_set, confidence))

    return result
raw_rules = generate_rules(patterns, 0.6)
rules = transform(raw_rules)
rules.sort(key=lambda x: x[2], reverse=True)
rules_a = [i[0] for i in rules]
rules_b = [i[1] for i in rules]
confidence = [i[2] for i in rules]
rules_df = pd.DataFrame({"rules_a": rules_a, "rules_b": rules_b, "confidence": confidence})
print(rules_df)

<class 'generator'>
-------------挖掘频繁项集---------------
                 fluent_patterns   support
0                         [6339]  0.170377
1                 [102392, 6339]  0.088107
2                 [139252, 6339]  0.090454
3                   [8892, 6339]  0.093001
4                 [130412, 6339]  0.081583
5                   [5997, 6339]  0.096950
6                   [3461, 6339]  0.083042
7                [4316382, 6339]  0.070251
8                   [8792, 6339]  0.070824
9                   [5800, 6339]  0.077377
10                  [6446, 6339]  0.073685
11               [5267730, 6339]  0.092800
12                [134932, 6339]  0.079609
13                     [4316442]  0.148887
14             [139252, 4316442]  0.101099
15               [8892, 4316442]  0.087592
16            [5267730, 4316442]  0.114491
17    [139252, 5267730, 4316442]  0.086419
18      [8892, 5267730, 4316442]  0.073113
19             [130412, 4316442]  0.078206
20            [4312482, 4316442]  0.070909
21            [4316382, 4316442]  0.089853
22    [139252, 4316382, 4316442]  0.071453
23   [5267730, 4316382, 4316442]  0.081011
24            [4316482, 4316442]  0.079523
25             [102392, 4316442]  0.076633
26             [134932, 4316442]  0.071882
27                        [8752]  0.196217
28                [139252, 8752]  0.093516
29                  [8892, 8752]  0.124449
..                           ...       ...
729                 [5800, 5793]  0.072769
730                       [6001]  0.111801
731               [139252, 6001]  0.075488
732                 [8892, 6001]  0.075230
733                       [3398]  0.095776
734                       [1539]  0.082642
735                       [6425]  0.074572
736                       [5776]  0.071453
737                       [5058]  0.132919
738              [4762734, 5058]  0.079752
739                       [1733]  0.112288
740                       [5069]  0.101471
741                       [2680]  0.087907
742                       [1588]  0.079952
743                       [1177]  0.078893
744                       [6402]  0.122589
745                       [6360]  0.166514
746               [102392, 6360]  0.090912
747               [139252, 6360]  0.084874
748                 [8892, 6360]  0.074773
749              [5267730, 6360]  0.081297
750                     [102312]  0.088909
751                    [5912238]  0.072226
752                       [3863]  0.071711
753                       [5989]  0.088394
754                        [687]  0.070967
755                       [4188]  0.076890
756                       [5070]  0.085732
757                      [12872]  0.085761
758                      [13032]  0.070795

[759 rows x 2 columns]
                                 rules_a                    rules_b  \
0    (130412, 5267730, 4316482, 4316382)                   (139252)
1             (5267730, 134912, 4316482)                   (139252)
2             (4316382, 139252, 4762754)                  (5267730)
3     (130412, 139252, 4316482, 4316382)                  (5267730)
4             (130412, 4316382, 4316482)                   (139252)
5                     (4316382, 4316442)                  (5267730)
6                     (4316382, 4762754)                  (5267730)
7                    (4316382, 21986963)                  (5267730)
8              (130412, 134912, 4316482)                   (139252)
9             (130412, 4316382, 4316482)                  (5267730)
10               (130412, 4316482, 8892)                   (139252)
11            (4316382, 139252, 4316482)                  (5267730)
12                    (4316382, 5267750)                  (5267730)
13              (5267730, 4316482, 8892)                   (139252)
14            (4316382, 139252, 4312482)                  (5267730)
15                              (140552)                   (135652)
16            (130412, 5267730, 4316482)                   (139252)
17             (4316382, 139252, 134912)                  (5267730)
18                    (139252, 21986963)                  (5267730)
19                   (4316382, 22718131)                  (5267730)
20               (4316382, 139252, 8892)                  (5267730)
21             (134932, 139252, 4316382)                  (5267730)
22           (4316382, 5267730, 4316482)                   (139252)
23             (130412, 134912, 4316382)                  (5267730)
24             (130412, 139252, 4316382)                  (5267730)
25               (130412, 4316382, 8892)                  (5267730)
26                    (4316382, 4316482)                  (5267730)
27                     (134912, 4316482)                   (139252)
28                    (4316382, 4312482)                  (5267730)
29                     (102252, 4316482)                   (139252)
..                                   ...                        ...
648                       (102392, 5997)                   (139252)
649                   (4316382, 4316482)  (130412, 139252, 5267730)
650                               (8792)                     (8892)
651                    (139252, 5267730)                  (4316482)
652                     (135652, 139252)                     (8892)
653                           (22503880)          (139252, 4316482)
654                            (4316382)                     (8892)
655                               (8992)                  (5267730)
656                       (139252, 8892)                   (102392)
657                       (134912, 8892)          (139252, 5267730)
658                       (134932, 8892)          (139252, 5267730)
659                               (8812)                   (102392)
660                               (6440)                   (139252)
661                             (102792)                   (139252)
662           (139252, 5267730, 4316482)          (130412, 4316382)
663                    (139252, 4312482)                  (5267750)
664                              (33512)                   (102392)
665                            (4316442)                  (4316382)
666                       (102252, 8792)                     (8892)
667                       (139252, 8792)                  (4316482)
668                            (4762734)                  (4312482)
669                              (78512)                   (139252)
670                       (102392, 5997)                     (5800)
671                   (4316382, 5267730)                  (4316482)
672                               (6446)                   (102392)
673                            (4312482)                  (5267730)
674                            (4316382)                   (130412)
675                            (5267750)                     (8892)
676                       (130412, 8892)                   (134912)
677                    (139252, 4312482)                 (22718131)

     confidence
0      0.917131
1      0.914160
2      0.913482
3      0.913060
4      0.901601
5      0.901592
6      0.899241
7      0.898454
8      0.898336
9      0.897598
10     0.896704
11     0.895863
12     0.891748
13     0.891562
14     0.889786
15     0.889169
16     0.888825
17     0.886629
18     0.886598
19     0.885870
20     0.884050
21     0.880499
22     0.877834
23     0.877113
24     0.875103
25     0.875080
26     0.868966
27     0.868790
28     0.868725
29     0.866123
..          ...
648    0.607960
649    0.607882
650    0.607857
651    0.607610
652    0.606954
653    0.606911
654    0.606169
655    0.605988
656    0.605481
657    0.605257
658    0.604856
659    0.604786
660    0.604704
661    0.604180
662    0.603718
663    0.603533
664    0.603516
665    0.603498
666    0.603229
667    0.603110
668    0.602688
669    0.602607
670    0.602470
671    0.602048
672    0.601927
673    0.601746
674    0.601371
675    0.601120
676    0.600654
677    0.600452

[678 rows x 3 columns]

In [210]:
# 将规则转换为(rule_a,rule_b)的格式，根据rules的实际情况更改
new_rule = []
for a,b,c in rules:
    new_rule.append([a,b])

In [211]:
new_rule[:5]

[[frozenset({'130412', '4316382', '4316482', '5267730'}),
  frozenset({'139252'})],
 [frozenset({'134912', '4316482', '5267730'}), frozenset({'139252'})],
 [frozenset({'139252', '4316382', '4762754'}), frozenset({'5267730'})],
 [frozenset({'130412', '139252', '4316382', '4316482'}),
  frozenset({'5267730'})],
 [frozenset({'130412', '4316382', '4316482'}), frozenset({'139252'})]]

In [212]:
# 计算前100条规则的平均准确率
result = evaluate_association_rules(new_rule[:100],evaluate_data)
result

0  rules miss

0.8567302328664756

In [213]:
# 计算第100到200条规则的平均准确率
result = evaluate_association_rules(new_rule[100:200],evaluate_data)
result

0  rules miss

0.7807110490250396

In [214]:
# 计算第200到300条规则的平均准确率
result = evaluate_association_rules(new_rule[200:300],evaluate_data)
result

0  rules miss

0.73296587114293

In [215]:
# 计算全部规则的平均准确率
result = evaluate_association_rules(new_rule,evaluate_data)
result

0  rules miss

0.7149250788211877

分别对前100条规则、第100到200条规则、第200到300条规则、全部规则进行评估，
发现使用靠近前面的规则进行推荐，平均准确率较高，证明了使用关联规则的置信度对规则进行排名有一定的优化效果。