In [179]:
def evaluate_association_rules(association_rules,test_datas):
    """
    Parameters：
        association_rules：要评估的关联规则（推荐规则） list((rule_a,rule_b))
        test_datas：测试用的数据集 dataframe

    Returns：
        关联规则（推荐规则）在测试集上的平均准确率
    """
    point_sum = 0
    miss = 0
    for rule_a,rule_b in association_rules:
        set_rule_a = set(rule_a)
        set_rule_b = set(rule_b)
        
        num_a = 0
        num_b = 0
        
        for test_data in test_datas.value:
            set_test_data = set(test_data)
            if set_rule_a.issubset(set_test_data):
                num_a += 1
                if set_rule_b.issubset(set_test_data):
                    num_b += 1
        if num_a:
            point_sum += num_b / num_a
        else:
            miss += 1
    print(miss,' rules miss')
    return point_sum / len(association_rules)

### 函数测试

In [125]:
# 导入所需模块
import pandas as pd
import numpy as np
import json
import fp_growth_py3 as fpg
import matplotlib.pyplot as plt
import pylab as pl
from collections import defaultdict

In [126]:
# 读入测试数据集
filepath='./test_data/user_following_animation.json'
data=pd.read_json(filepath,lines=True)

将测试数据集 划分为training_data与evaluate_data两部分，占比可调

In [163]:
training_data = data.sample(n=9000, frac=None, replace=False, weights=None, random_state=None, axis=None)

In [164]:
print(len(training_data))
training_data.head()

9000

,db,key,size,ttl,type,value
7762,7,77246224,462,-1,set,"[1177, 1512, 1586, 1587, 1689, 1699, 1733, 254..."
9196,7,299275542,253,-1,set,"[530, 1588, 1666, 2576, 2743, 2760, 3023, 3494..."
4560,7,70399334,39,-1,set,"[835, 1089, 2074, 2581, 2960, 5550, 5761, 6652..."
6545,7,1320581,63,-1,set,"[685, 1201, 2585, 8892, 102112, 102632, 140552..."
5456,7,14546601,509,-1,set,"[53, 499, 697, 1071, 1072, 1177, 1178, 1407, 1..."

In [165]:
evaluate_data = data.drop([x for x in training_data.index])[:1000]

In [166]:
print(len(evaluate_data))
evaluate_data.head()

1000

,db,key,size,ttl,type,value
10,7,344488725,4,-1,set,[5744]
19,7,28872792,203,-1,set,"[207, 427, 877, 963, 1089, 1733, 2520, 2572, 2..."
34,7,82151097,4,-1,set,[5998]
36,7,6994862,262,-1,set,"[3461, 4026, 5027, 5043, 5058, 5070, 5513, 553..."
45,7,11362620,136,-1,set,"[123, 296, 528, 767, 954, 959, 1548, 1563, 187..."

用training_data进行训练，导出关联规则（推荐规则）

注：这里只是用置信度进行了排名，因为只是对评估函数进行测试，所以没有加入更多的排名方法。

In [167]:

data_list = list(training_data["value"])
frequent_itemsets = fpg.find_frequent_itemsets(data_list, minimum_support=0.07 * len(data_list), include_support=True)
print(type(frequent_itemsets))  # print type
result = []
for itemset, support in frequent_itemsets:  # 将generator结果存入list
    result.append((itemset, support / len(data_list)))

result_patterns = [i[0] for i in result]
result_support = [i[1] for i in result]
patterns_df = pd.DataFrame({"fluent_patterns": result_patterns, "support": result_support})
patterns = {}
for i in result:
    patterns[frozenset(sorted(i[0]))] = i[1]
print("-------------挖掘频繁项集---------------")
print(patterns_df)

def generate_rules(patterns, min_confidence):
    patterns_group = group_patterns_by_length(patterns)
    raw_rules = defaultdict(set)
    for length, pattern_list in patterns_group.items():
        if length == 1:
            continue
        for pattern, support in pattern_list:
            item_list = list(pattern)
            for window_size in range(1, length):
                for i in range(0, length - window_size):
                    for j in range(i + window_size, length):
                        base_set = frozenset(item_list[i:j])
                        predict_set = frozenset(pattern - base_set)
                        confidence = support / patterns.get(base_set)
                        if confidence > min_confidence:
                            raw_rules[base_set].add((predict_set, confidence))

                        base_set, predict_set = predict_set, base_set
                        confidence = support / patterns.get(base_set)
                        if confidence > min_confidence:
                            raw_rules[base_set].add((predict_set, confidence))
    return raw_rules

def group_patterns_by_length(patterns):
    result = defaultdict(list)
    for pattern, support in patterns.items():
        result[len(pattern)].append((pattern, support))
    return result

def transform(raw_rules):
    result = list()
    for base_set, predict_set_list in raw_rules.items():
        for predict_set, confidence in predict_set_list:
            result.append((base_set, predict_set, confidence))

    return result
raw_rules = generate_rules(patterns, 0.6)
rules = transform(raw_rules)
rules.sort(key=lambda x: x[2], reverse=True)
rules_a = [i[0] for i in rules]
rules_b = [i[1] for i in rules]
confidence = [i[2] for i in rules]
rules_df = pd.DataFrame({"rules_a": rules_a, "rules_b": rules_b, "confidence": confidence})
print(rules_df)

<class 'generator'>
-------------挖掘频繁项集---------------
                 fluent_patterns   support
0                       [102392]  0.315444
1                         [5997]  0.207778
2                 [102392, 5997]  0.118333
3                 [139252, 5997]  0.101889
4                [5267730, 5997]  0.108333
5        [139252, 5267730, 5997]  0.074222
6        [102392, 5267730, 5997]  0.073667
7                   [8892, 5997]  0.103778
8           [102392, 8892, 5997]  0.070222
9                 [130412, 5997]  0.084444
10                        [5852]  0.195000
11                [102392, 5852]  0.093667
12                [139252, 5852]  0.079333
13                [130412, 5852]  0.072111
14               [5267730, 5852]  0.072667
15                  [8892, 5852]  0.085222
16                  [3450, 5852]  0.071000
17                        [2543]  0.193889
18                [102392, 2543]  0.091889
19                  [5852, 2543]  0.078778
20                [139252, 2543]  0.085333
21               [5267730, 2543]  0.082667
22                  [8892, 2543]  0.085556
23                [130412, 2543]  0.073000
24                        [6360]  0.168667
25                [102392, 6360]  0.092778
26                [139252, 6360]  0.081444
27               [5267730, 6360]  0.078000
28                        [6301]  0.144222
29                [139252, 6301]  0.071889
..                           ...       ...
422   [139252, 4316382, 4762754]  0.070667
423  [5267730, 4316382, 4762754]  0.076889
424            [134912, 4762754]  0.070333
425            [130412, 4762754]  0.081778
426                       [2572]  0.090333
427                       [5070]  0.075333
428                     [102512]  0.125667
429             [102392, 102512]  0.085667
430                       [6463]  0.099000
431                       [6434]  0.144778
432               [102392, 6434]  0.085111
433                 [8892, 6434]  0.081667
434                       [3461]  0.195111
435               [139252, 3461]  0.093222
436                 [5997, 3461]  0.100889
437                 [3450, 3461]  0.089778
438               [102392, 3461]  0.100556
439                 [8892, 3461]  0.098222
440               [130412, 3461]  0.079889
441              [5267730, 3461]  0.089556
442                       [3398]  0.090778
443                        [963]  0.082333
444                     [102312]  0.078778
445                      [11932]  0.070889
446                       [6440]  0.112889
447                 [5997, 6440]  0.071222
448                      [79472]  0.089556
449                        [844]  0.083000
450                       [2680]  0.080111
451                      [12872]  0.075556

[452 rows x 2 columns]
                         rules_a            rules_b  confidence
0     (4316382, 139252, 4316482)          (5267730)    0.904145
1             (4316382, 4762754)          (5267730)    0.897536
2        (4316382, 139252, 8892)          (5267730)    0.893617
3             (4316382, 4312482)          (5267730)    0.880155
4     (130412, 5267730, 4316482)           (139252)    0.876765
5             (4316382, 4316482)          (5267730)    0.874323
6      (130412, 139252, 4316382)          (5267730)    0.873918
7              (4316382, 134912)          (5267730)    0.865526
8    (4316382, 5267730, 4316482)           (139252)    0.864932
9                (4316382, 8892)          (5267730)    0.863114
10             (102252, 4316482)           (139252)    0.859603
11             (134932, 4316382)          (5267730)    0.859410
12             (134912, 4316482)           (139252)    0.859192
13             (139252, 4316442)          (5267730)    0.856959
14             (4316382, 139252)          (5267730)    0.855688
15             (130412, 4316382)          (5267730)    0.854398
16                        (1587)             (1586)    0.850590
17             (139252, 4762754)          (5267730)    0.842432
18             (4316382, 102392)          (5267730)    0.839955
19             (130412, 4316482)           (139252)    0.837784
20    (130412, 5267730, 4316382)           (139252)    0.836686
21            (4316382, 4316482)           (139252)    0.836403
22               (4316482, 8892)           (139252)    0.833721
23            (5267730, 4316482)           (139252)    0.831532
24             (102252, 5267730)           (139252)    0.828306
25              (130412, 102252)           (139252)    0.827746
26            (5267730, 4762754)          (4316382)    0.825776
27             (102392, 4316482)           (139252)    0.825356
28            (4316382, 4762754)           (139252)    0.824903
29            (130412, 22718131)           (139252)    0.824289
..                           ...                ...         ...
235           (5267730, 4316482)   (130412, 139252)    0.615315
236                    (4762754)  (139252, 5267730)    0.615036
237           (5267730, 4312482)             (8892)    0.614603
238                    (5267750)           (139252)    0.614266
239                       (8792)           (139252)    0.614067
240                       (8812)           (102392)    0.613553
241                     (139252)          (5267730)    0.613344
242               (102392, 8892)           (139252)    0.613156
243           (4316382, 5267730)             (8892)    0.612760
244           (5267730, 4312482)           (130412)    0.610906
245              (5267730, 8892)           (130412)    0.610811
246                    (4762734)          (5267730)    0.609792
247                    (5267750)          (4312482)    0.609418
248                   (22503880)         (22718131)    0.607970
249              (5267730, 8892)           (102392)    0.607722
250             (130412, 134912)          (4316382)    0.607583
251           (5267730, 4316482)             (8892)    0.607207
252                     (134912)          (5267730)    0.606965
253           (5267730, 4316482)          (4312482)    0.606306
254                       (8752)             (8892)    0.606258
255                      (78352)           (102392)    0.605160
256                       (8772)             (6301)    0.604960
257            (139252, 5267730)          (4316482)    0.604849
258                       (1586)             (1587)    0.603160
259            (139252, 5267730)             (8892)    0.602883
260             (139252, 102392)             (8892)    0.601845
261                   (24097891)          (5267730)    0.601735
262                    (4312482)           (139252)    0.600980
263           (5267730, 4312482)          (5267750)    0.600739
264               (139252, 8892)          (4316382)    0.600160

[265 rows x 3 columns]

In [168]:
# 将规则转换为(rule_a,rule_b)的格式，根据rules的实际情况更改
new_rule = []
for a,b,c in rules:
    new_rule.append([a,b])

In [169]:
new_rule[:5]

[[frozenset({'139252', '4316382', '4316482'}), frozenset({'5267730'})],
 [frozenset({'4316382', '4762754'}), frozenset({'5267730'})],
 [frozenset({'139252', '4316382', '8892'}), frozenset({'5267730'})],
 [frozenset({'4312482', '4316382'}), frozenset({'5267730'})],
 [frozenset({'130412', '4316482', '5267730'}), frozenset({'139252'})]]

In [174]:
# 计算前100条规则的平均准确率
result = evaluate_association_rules(new_rule[:100],evaluate_data)
result

0  rules miss

0.7794543136868225

In [175]:
# 计算第100到200条规则的平均准确率
result = evaluate_association_rules(new_rule[100:200],evaluate_data)
result

0  rules miss

0.6724204487956956

In [176]:
# 计算第200到300条规则的平均准确率
result = evaluate_association_rules(new_rule[200:300],evaluate_data)
result

0  rules miss

0.6094908336235078

In [177]:
# 计算全部规则的平均准确率
result = evaluate_association_rules(new_rule,evaluate_data)
result

0  rules miss

0.6973750205048295

分别对前100条规则、第100到200条规则、第200到300条规则、全部规则进行评估，
发现使用靠近前面的规则进行推荐，平均准确率较高，证明了使用关联规则的置信度对规则进行排名有一定的优化效果。